* {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    background-color: black;
    
}
body {
    /* Background here */
}
header {
    display: flex;
    /*border: 1px dashed red;*/
    justify-content: space-evenly;
    align-items: center;
    min-height: 40px;
}

#clipart-box {
    position: relative;
    bottom: 0.70rem;
    
}
.clipart {
    width: 6rem;
    height: 7rem;
    /*border: 3px solid orange;*/
}

#who-box {
    /*border: 1px solid green;*/
    max-width: 200px;
    max-height: 200px;
    position: relative;
    right: 13rem;
    bottom: 0.75rem;
   
}
#who-box p {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 45px;
}
#question-mark {
    background-color: black;
}

#ribbons-box {
    /*border: 1px solid green;*/
    display: flex;
    max-height: 75px;
    width: 27rem;
    justify-content: space-around;
    position: relative;
    bottom: 2rem;
    align-items: center;
}

.ribbon {
    align-content: center;
    font-weight: 550;
    height: 3rem;
    text-decoration: none;
    padding: 0 15px;
    font-family: "Roboto Mono", monospace;
    /*border: 1px solid red;*/
}

.ribbon:hover {
    cursor: pointer;
    color: red;
    font-weight: 700;
    /*background-color: grey;*/
}

.ribbon:active {
    position: relative;
    top: 1px;
    color: rgb(92, 87, 87);
    /*background-color: darkgray;*/
}


#me-pic {
    width: 7rem;
    border: 2px solid rgb(11, 97, 209);
    border-radius: 50%;
    background-color: black;
}


